body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Set the background color of the whole page */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a237e; /* Navy blue background for the navigation bar */
    color: #fff;
    padding: 20px 40px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    background-color: #34495e;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #2c3e50;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #464646;
    margin-top: 20px;
    border-radius: 10px;
}

.registration-form label {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 14px;
}

.registration-form input,
.registration-form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #fffefe; /* Slightly darker background color */
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

.registration-form button {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    background-color: #1a237e;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.registration-form button:hover {
    background-color: #0883ff;
}

.message {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: green;
    margin-top: 10px;
}


.assignment-form form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
<<<<<<< Updated upstream
    max-width: 800px; /* Adjust the max-width as needed */
=======
    max-width: 800px;
>>>>>>> Stashed changes
    margin: 0 auto;
}

.assignment-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.assignment-form input[type="file"] {
    display: block;
    margin-bottom: 15px;
    width: 100%; /* Make the file input wider */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.assignment-form .assignment-submit {
    display: block;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.submitted {
    color: green;
    font-weight: bold;
}
