body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Set the background color of the whole page */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a237e; /* Navy blue background for the navigation bar */
    color: #fff;
    padding: 20px 40px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    background-color: #34495e;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #2c3e50;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #464646;
    margin-top: 20px;
}

.registration-form label {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 14px;
}

.registration-form input,
.registration-form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #c7c7c7; /* Slightly darker background color */
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.registration-form button {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    background-color: #1a237e;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration-form button:hover {
    background-color: #135fab;
}

.message {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: green;
    margin-top: 10px;
}