<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Registration</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Course Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/profile_styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='admin_logo.png') }}" alt="Admin Logo">
        </div>
        <div class="nav-links">
            <a href="{{ url_for('aprofile') }}" class="profile-button">Profile</a>
            <a href="{{ url_for('signup') }}" class="register-button">Register</a>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </div>
    <div class="content">
        <h2>Admin Registration</h2>
        <form class="registration-form" method="post" action="{{ url_for('signup') }}">
            <label for="sname">Name:</label>
            <input type="text" id="sname" name="sname" required>

            <label for="semail">Email:</label>
            <input type="email" id="semail" name="semail" required>

            <label for="susername">Username:</label>
            <input type="text" id="susername" name="susername" required>

            <label for="role">Role:</label>
            <select id="role" name="role" required>
                <option value="1">Student</option>
                <option value="2">Faculty</option>
                <option value="0">Admin</option>
            </select>

            <button type="submit">Register</button>
        </form>

        {% if msg %}
        <p class="message">{{ msg }}</p>
        {% endif %}
    </div>
</body>
</html>