<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student List</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Course Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/profile_styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='Faculty_logo.png') }}" alt="Admin Logo">
        </div>
        <div class="nav-links">
            <a href="{{ url_for('fprofile') }}" class="profile-button">Profile</a>
            <a href="{{ url_for('studentlist') }}" class="register-button">Marks</a>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </div>
    <div class="student-list">
        <h2>Student List</h2>
        <ul>
            {% for student in names %}
            <li>
                {{ student }}
                <a href="{{ url_for('studentlist', student_name=student) }}" class="show-assignments">Show Assignments</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>