<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assignment Submission</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Course Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/profile_styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='student_logo.png') }}" alt="Admin Logo">
        </div>
        <div class="nav-links">
            <a href="{{ url_for('sprofile') }}" class="profile-button">Profile</a>
            <a href="{{ url_for('sassignment') }}" class="register-button">Assignment</a>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </div>
    <div class="assignment-form">
        <form>
            <label for="studentSelect">Select a Student:</label>
            <select id="studentSelect">
                {% for name in names %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
            <a href="#" class="submissions-btn">Submissions</a>
        </form>
        {% for name in names %}
        <a href="/facultymarks/{{ name }}" class="student-submissions-btn">{{ name }} Submissions</a>
        {% endfor %}
    </div>
</div>
</body>
</html>



