<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assignment Submission</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Course Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/profile_styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='student_logo.png') }}" alt="Admin Logo">
        </div>
        <div class="nav-links">
            <a href="{{ url_for('sprofile') }}" class="profile-button">Profile</a>
            <a href="{{ url_for('sassignment') }}" class="register-button">Assignment</a>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </div>

    <div class="content">
        <div class="assignment-form">
            <h2>Assignment Submission</h2>
            <form method="post" enctype="multipart/form-data">
                {% for index in range(1, max_assignments + 1) %}
                    <label>Assignment {{ index }}:</label>
                    {% if submitted[index - 1] %}
                        <p>Submitted</p>
                    {% else %}
                        <input type="file" name="file{{ index }}" accept=".pdf">
                        <button type="submit" name="submit" value="{{ index }}">Submit</button>
                    {% endif %}
                {% endfor %}
            </form>
            <p>{{ msg }}</p>
        </div>

        <div class="submission-history">
            <h2>Submission History</h2>
            <table>
                <tr>
                    <th>Assignment</th>
                    <th>Submission Time</th>
                    <th>Marks</th>
                </tr>
                {% for index, time, marks in datetime %}
                <tr>
                    <td>Assignment {{ index + 1 }}</td>
                    <td>{{ time }}</td>
                    <td>{{ marks }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>