<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assignment Submission</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Course Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/profile_styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='student_logo.png') }}" alt="Admin Logo">
        </div>
        <div class="nav-links">
            <a href="{{ url_for('sprofile') }}" class="profile-button">Profile</a>
            <a href="{{ url_for('sassignment') }}" class="register-button">Assignment</a>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </div>

    <div class="content">
        <div class="assignment-form">
            <h2>Assignment Submission</h2>
            <form method="post" action="{{ url_for('sassignment')}}" enctype="multipart/form-data">
                <label>Assignment 1:</label>
                <input type="file" name="file1" accept=".pdf">
                <label>Assignment 2:</label>
                <input type="file" name="file2" accept=".pdf">
                <label>Assignment 3:</label>
                <input type="file" name="file3" accept=".pdf">
                <label>Assignment 4:</label>
                <input type="file" name="file4" accept=".pdf">
                <label>Assignment 5:</label>
                <input type="file" name="file5" accept=".pdf">
                <button type="submit">Submit</button>
            </form>
            <p>{{ msg }}</p>
        </div>
    </div>
</body>
</html>