<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student's Profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Course Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/profile_styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='student_logo_1.png') }}" alt="Admin Logo">
        </div>
        <div class="nav-links">
            <a href="{{ url_for('sprofile') }}" class="profile-button">Profile</a>
            <a href="{{ url_for('sassignment') }}" class="register-button">Assignment</a>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </div>
    <div class="content">
        <h2>Student Profile</h2>
        <div class="admin-details">
            <p><strong>Name:</strong> {{ name }}</p>
            <p><strong>Username:</strong> {{ username }}</p>
            <p><strong>Email:</strong> {{ user }}</p>
            <p><strong>Role:</strong> {{ role }}</p>
            <p><strong>Password:</strong> {{ password }}</p>
            <!-- You can add more details here as needed -->
        </div>
    </div>
</body>
</html>